<h1 class="display-5 fw-bold mb-3">About us</h1>
<p class="lead">Welcome to Cooking Blog, where culinary inspiration meets simplicity! We are more than just a food recipe website; we are a community of food enthusiasts on a journey to explore, create, and share delightful culinary experiences.</p>

<h1 class="display-5 fw-bold mb-3">Mission</h1>
<p class="lead">At Cooking Blog, our mission is to make cooking accessible to everyone, from seasoned chefs to kitchen beginners. We believe that good food brings people together and creates lasting memories. Our goal is to provide you with a diverse collection of recipes that are not only delicious but also easy to follow, ensuring that the joy of cooking is accessible to all.</p>